$pages: "index" "sobre" "parceiros" "ajuda" "contato"
$folder: null

.content
  +outer-container

@each $page in $pages
  @if $page == "index"
    $folder: "home"
  @if $page == "sobre"
    $folder: "about"
  @if $page == "parceiros"
    $folder: "partner"
  @if $page == "ajuda"
    $folder: "help"
  @if $page == "contato"
    $folder: "contact"

  .#{$page}
    +at2x("#{$folder}/header", "jpg", 100%)
    background-repeat: no-repeat
    background-position: center top

    +media($tablet)
      background-size: auto 743px

section.header
  color: white
  min-height: 570px
  +padding(68px null null)

  +media($tablet)
    min-height: 616px
    +padding(51px null null)

  +media($mobile)
    min-height: 555px
    overflow: hidden

  & + section
    background: white

blockquote
  background: white
  color: $black-45
  font-size: rem(27)
  padding: 88px 0
  text-align: center

.index
  section.header
    figure
      +span-columns(5)
      height: 598px

      +media($tablet)
        +span-columns(4 of 8)
        height: auto

        img
          +size(99.3% 79%)

      +media($mobile)
        +fill-parent
        float: none
        position: absolute
        text-align: center
        top: 220px
        left: 0
        +size(100% 335px)
        overflow: hidden

        img
          +size(81% auto)

    header,
    .download-app
      +span-columns(11)
      padding-left: rem(35)
      margin-right: 0

      +media($desktop)
        +span-columns(7 of 12)
        +padding(null null null 0)
        +margin(null 0 null null)

      +media($tablet)
        +span-columns(4 of 8)
        +padding(null null null 0)
        +margin(null 0 null null)

      +media($mobile)
        +fill-parent


      &:last-child
        margin-left: 0

    +media($tablet)
      .download-app
        img
          +size(49% 49%)

    header
      +padding(145px null null null)
      +margin(null null 50px)
      text-align: center

      +media($desktop)
        +padding(72px null null null)
        text-align: left

        ul
          text-align: left

      +media($tablet)
        +padding(88px null null null)

      +media($mobile)
        +fill-parent
        +padding(0)
        +margin(null null 0)

    h1
      @extend %h1-font-size
      +margin(null null 17px)

      +media($tablet)
        font:
          size: rem(26)
          weight: normal
        line-height: rem(36)
        text-align: left
        +margin(null null 24px)

      +media($mobile)
        text-align: center
        font-size: rem(20)
        line-height: rem(24)

    h2
      @extend %subtitle

      +media($tablet)
        text-align: left

      +media($mobile)
        +hide-on-mobile

    ul
      overflow: hidden
      text-align: center

    li
      display: inline

.animsition-loading
  color: white
  font-size: rem(25)
  +margin(200px null)
  text-align: center
