$pages: "index" "sobre" "parceiros" "ajuda" "contato"
$folder: null

.content
  +outer-container

@each $page in $pages
  @if $page == "index"
    $folder: "home"
  @if $page == "sobre"
    $folder: "about"
  @if $page == "parceiros"
    $folder: "partner"
  @if $page == "ajuda"
    $folder: "help"
  @if $page == "contato"
    $folder: "contact"

  .#{$page}
    +at2x("#{$folder}/header", "jpg", 100%)
    background-repeat: no-repeat
    background-position: center top

section.header
  color: white
  min-height: 570px
  +padding(68px null null null)

  & + section
    background: white

blockquote
  background: white
  color: $black-45
  font-size: rem(27)
  padding: 88px 0
  text-align: center

.index
  section.header
    figure
      +span-columns(5)
      height: 598px

    header,
    .download-app
      +span-columns(11)
      padding-left: rem(35)
      margin-right: 0

      &:last-child
        margin-left: 0

    header
      padding-top: 145px
      margin-bottom: 50px
      text-align: center

    h1
      @extend %h1-font-size
      margin-bottom: 17px

    h2
      @extend %subtitle

    ul
      overflow: hidden
      text-align: center

    li
      display: inline

.animsition-loading
  color: white
  font-size: rem(25)
  +margin(200px null)
  text-align: center

+media($largedesktop)
  .content
    +outer-container
