.content
  +outer-container

.index
  +at2x("images/home/header", "jpg", auto, 788px)
  background-repeat: repeat-x

  [role="banner"]
    padding-top: 68px

    .app-screenshot
      +span-columns(5)

    header,
    .download-app
      +span-columns(7)
      padding-left: rem(35)
      margin-right: 0

      &:last-child
        margin-left: 0

    header
      padding-top: 72px
      margin-bottom: 50px

    h1,
    h2
      color: white

    h1
      @extend %h1-font-size
      margin-bottom: 17px

    h2
      @extend %subtitle

    ul
      overflow: hidden

    li
      display: inline
      float: right

      &:first-child
        float: left

+media($mobile)
  .index
    background: none
