<a href="/" class="mobile-logo"><%= image_tag_with_at2x "logo.png" %></a>

<ul>
  <% ["Sobre", "Parceiros", "Ajuda", "Contato", "Android", "iOS"].each do |item| %>
    <li class="<%= item.parameterize %>"><%= link_to item, "#{item.parameterize}.html" %></li>
  <% end %>
</ul>
