<a href="">
  <svg width="58px" height="24px" viewBox="0 0 58 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g transform="translate(-920.000000, -2903.000000)">
        <rect fill="#FFFFFF" x="-171" y="-151" width="1491" height="3714"></rect>
        <g transform="translate(-71.000000, 1656.000000)"></g>
        <g transform="translate(-4.000000, 2894.000000)" font-size="17" font-family="Avenir Next" fill="#218DE3" font-weight="bold">
          <text>
            <tspan x="924" y="26.3144531">Twitter</tspan>
          </text>
        </g>
      </g>
    </g>
  </svg>
</a>
