.sobre
  +media($mobile)
    section.hero
      +padding(41px null null)

  .description
    +span-columns(9)
    font-size: rem(24)
    line-height: rem(60)
    +padding(126px 20px null null)

    +media($desktop)
      +span-columns(6 of 12)
      +padding(92px null null null)

    +media($tablet)
      +fill-parent
      +padding(0)
      +margin(0)
      font-size: rem(21)
      line-height: rem(35)
      text-align: center
      float: none

    +media($mobile)
      font-size: rem(15)

  figure
    +span-columns(7)
    height: 502px

    +media($desktop)
      +span-columns(6 of 12)

    +media($tablet)
      +fill-parent
      +padding(0)
      +margin(33px 0 0)
      height: auto
      text-align: center

      img
        +size(390px 410px)

    +media($mobile)
      img
        +size(100% 100%)

  .about
    +at2x("about/highlight", "jpg", 100%)
    background:
      repeat: no-repeat
      position: center center
      size: 100%
    height: 640px

    +media($desktop)
      height: 600px

    +media($tablet)
      height: 480px

    +media($mobile)
      height: 374px
      background-size: 100% 100%

    p
      background-color: white
      color: $black-20
      font-size: rem(16)
      line-height: rem(50)
      float: right
      margin: 97px 0
      +padding(72px 61px)
      width: 60%

      +media($desktop)
        +padding(62px 41px)
        font-size: rem(14)
        line-height: rem(40)

      +media($tablet)
        +padding(30px 40px)
        +margin(60px null)
        width: 90%

      +media($mobile)
        +margin(25px 16px)
        font-size: rem(12)
        line-height: rem(24)
        text-align: left
        +padding(25px)

    a
      color: $blue-50

+media($mobile)
  blockquote
    font-size: rem(17)
    +padding(50px 0)
