.contato
  .header
    +media($mobile)
      min-height: 385px

  > footer
    +padding(90px null null)

.contato
  color: $black-42

  .hero
    h2
      @extend %header-text

    +media($desktop)
      +padding(0 null null)

  header
    +padding(45px null null)
    margin-bottom: 33px

    h2
      font-size: rem(50)

      +media($mobile)
        font-size: rem(30)

  aside
    +span-columns(5)

    +media($tablet)
      +span-columns(4 of 8)

    +media($mobile)
      +fill-parent

    h3,
    a,
    p,
    address
      font-size: rem(21)
      line-height: rem(35)

      +media($mobile)
        font-size: rem(14)
        line-height: rem(18)

    p
      color: lighten($black-42, 30%)
      margin-bottom: 70px

    a
      +display(block)
      color: $black-42
      margin-top: 40px

    > p
      font-size: rem(18)
      line-height: rem(22)

  form
    +span-columns(10)
    +shift(1)
    +inputs
    +send-button

    +media($tablet)
      +span-columns(4 of 8)
      +shift(0)

    +media($mobile)
      +hide-on-mobile

  .actions li
    text-align: right
