.parceiros
  section.header
    margin-bottom: 15px
    min-height: 600px

    +media($mobile)
      min-height: auto

  .description
    +span-columns(8)

    +media($desktop)
      +span-columns(6 of 12)

  .partner-form
    +shift(2)
    +span-columns(6)

    +media($desktop)
      +span-columns(6 of 12)
      +shift(0)

    +media($tablet)
      +span-columns(5 of 8)
      +shift(0)
      float: none
      +margin(0 auto)

      &:last-child
        +margin(41px auto null)

    +media($mobile)
      +hide-on-mobile

  .description
    +padding(70px 88px null null)

    +media($desktop)
      +padding(null 0 null null)

    +media($tablet)
      +fill-parent
      float: none
      +margin(0 auto)
      +padding(0)
      text-align: center

    p
      font-size: rem(35)
      line-height: rem(48)
      letter-spacing: -1px
      margin-bottom: 48px

      +media($desktop)
        font-size: rem(28)
        letter-spacing: normal

      +media($tablet)
        font-size: rem(20)
        line-height: rem(28)
        letter-spacing: normal

    a
      +button(rgba(255, 255, 255, .1))

      +media($mobile)
        +hide-on-mobile

  form
    +form-content
    +inputs
    +send-button

    legend
      +legend-double($black-22)
      +margin(null null 21px)

    .actions
      +padding(20px null null)
      text-align: center

  .advantages
    +padding(36px null null)

    li
      color: $black-50
      font-size: rem(17)
      +span-columns(4)
      +margin(null null 115px null)
      +padding(null 20px)
      text-align: center

      +media($tablet)
        +margin(null 0)
        width: 32.48387%

        &:nth-child(7n),
        &:last-child
          width: 31.3871%

        &:nth-child(7n)
          +margin(null null null -14%)

      +media($mobile)
        +span-columns(4 of 4)

        &:nth-child(7n),
        &:last-child
          width: 100%

        &:nth-child(7n)
          +margin(null null null 0)

      &.last
        +margin(null 0)

    figure
      +size(auto 91px)
      +margin(null null 20px)

  +media($desktop)
    .slider .content
      padding: 0

  +media($tablet)
    .slider .content
      padding: 0

      img
        +margin(114px null null)

    .slick-list
      padding: 0 !important

  +media($mobile)
    .slider .content
      padding: 0

      figure img
        +size(86% 1%)

    > footer
      +padding(0 null null)
