.parceiros
  .description,
  .partner-form
    +span-columns(6)

  .description
    padding-top: 70px

    p
      font-size: rem(35)
      line-height: rem(48)
      letter-spacing: -1px
      margin-bottom: 48px

    a
      +button(rgba(255, 255, 255, .1))

  form
    +form-content
    +inputs
    +send-button

    legend
      +legend-double($black-22)
      margin-bottom: 21px

    .actions
      padding-top: 20px
      text-align: center
