// Grid settings
$column: 60px
$gutter: 20px
$grid-columns: 16
$max-width: em(1280)

//Display visual grids
// $visual-grid-color: red
// $visual-grid-index: front
// $visual-grid: true

$border-box-sizing: true !default
$default-layout-direction: LTR
$default-feature: min-width !default
