$muli: "Muli", sans-serif
$montserrat: "Montserrat", sans-serif

$base-font-size: rem(15)
$base-line-height: rem(30)

$default-links-font-size: rem(17)
$default-links-line-height: rem (34)

%h1-font-size
  font-size: rem(53)
  line-height: rem(68px)

%subtitle
  font-size: rem(20)
  line-height: rem(25)
  font-weight: lighter

body
  font:
    family: $muli
    size: $base-font-size
  line-height: $base-line-height

  a
    text-decoration: none
    +transition(all .2s ease-in-out)
