<div class="content desktop">
  <h2>Principais dúvidas</h2>
  <ul>
    {{#each this}}
      <li class="{{parameterize title}}">
        <a href="" data-topic="{{parameterize title}}">{{title}}</a>
      </li>
    {{/each}}
  </ul>
</div>
