<div class="content desktop">
  <h2>Principais dúvidas</h2>
  <ul>
    <li><a data-topic="o-que-e-o-beeconnect">"O que é beeConnect?"</a></li>
    <li><%= link_to "Como usar o aplicativo beeConnect?", ""%></li>
    <li><%= link_to "Porque minha conta sumiu?", ""%></li>
    <li><%= link_to "Onde posso encontrar as promoções?", ""%></li>
  </ul>
</div>
