---
title: beeConnect - Precisando de ajuda?
---

<% content_for :header do %>
  <section class="hero">
    <h2>Tem uma dúvida? Estamos prontos para ajudar</h2>
  </section>
<% end %>

<section class="top-questions"></section>

<section class="mobile-help">
  <h2>Principais dúvidas</h2>

  <div class="content">
    <dl>
      <dt>O que é o beeConnect?</dt>
      <dd><p>O aplicativo beeConnect é o seu melhor companheiro na hora de fazer compras. Com ele você descobre os produtos e descontos incríveis nos seus lugares favoritos. No app você pode ver produtos na vitrine virtual e ganhar cupons de desconto exclusivos assim que entrar na loja.</p></dd>

      <dt>Como usar o aplicativo beeConnect?</dt>
      <dd><p>Após baixar o beeConnect e efetuar o seu login você terá acesso a todo conteúdo do app.</p><ol><li><b>Descubra descontos antes de ir às compras</b>Navegue pela vitrine virtual e veja as últimas tendências e descontos diários para que você nunca perca uma chance de economizar</li><li><b>Seja lembrado dos descontos ao entrar na loja</b>Assim que você entra na loja o app te lembra dos melhores descontos com o seu perfil, para que você não perca nenhuma promoção!</li><li><b>Ganhe descontos exclusivos em produtos na loja</b>Para gerar o cupom de desconto basta se aproximar fisicamente do produto que foi anunciado na vitrine virtual e clicar no botão “cupom”. Depois é só apresentar o cupom no caixa para ganhar o desconto.</li></ol></dd>

      <dt>Onde posso encontrar as promoções?</dt>
      <dd><p>Nós estamos trabalhando para que seja cada vez mais fácil encontrar produtos e ofertas próximas a você.</p><p>Para encontrar os estabelecimentos e lojas participantes, basta entrar no menu inicial e clicar no botão “Parceiros” Assim, você poderá visualizar os produtos disponíveis em cada loja, assim como sua localização.</p></dd>
    </dl>
  </div>
</section>

<section class="all-questions">
  <div class="content">
    <div class="search"></div>
    <nav></nav>
    <div class="answer"></div>
  </div>

  <div class="content">
    <%= link_to "Não consegue encontrar o que você está procurando? Envie-nos um e-mail.", "mailto:contato@beeconnect.com.br", class: "contact-link" %>
  </div>
</section>

<% content_for :javascripts do %>
  <%= javascript_include_tag "help/application", "help/initialize", "help/files" %>

  <script>
    if(!navigator.userAgent.match(/iPhone/i)) {
      var options = <%= data.faq.questions.to_json.html_safe %>;
      beeConnect.HelpCenter.initialize({
        menu: options,
        el: $("main")
      });
    }
  </script>
<% end %>
