---
title: iShop - Com o iShop você ganha para fazer compras
---

<section role="banner">
  <div class="content">
    <header>
      <h1>Com o iShop você ganha para fazer compras</h1>
      <h2>Nunca perca descontos e recompensas incríveis nos seus lugares favoritos</h2>
    </header>

    <ul class="download-app">
      <li><%= link_to image_tag("apple-button.png"), "" %></li>
      <li><%= link_to image_tag("google-play-button.png"), "" %></li>
    </ul>
  </div>
</section>

<section class="highlight">
  <p>
    O aplicativo iShop é o seu melhore companheiro na hora de fazer  compras.
    Com ele você descobre as melhores ofertas nas suas lojas favoritas.
    No app você pode ver produtos na vitrine virtual e ganhar descontos exclusivos assim que entrar na loja!
  </p>
</section>

<section class="partner">
  <header>
    <h1>Seja nosso parceiro</h1>
    <h2>Saiba como o iShop pode ajudar a sua marca</h2>
  </header>
</section>
