---
title: iShop - Com o iShop você ganha para fazer compras
---

<section role="banner">
  <div class="content">
    <h1>Com o iShop você ganha para fazer compras</h1>
    <h2>Nunca perca descontos e recompensas incríveis nos seus lugares favoritos</h2>

    <ul class="download-app">
      <li><%= link_to image_tag("apple-button.png"), "" %></li>
      <li><%= link_to image_tag("google-play-button.png"), "" %></li>
    </ul>
  </div>
</section>
