---
title: beeConnect - Sobre o beeConnect
---

<section class="header">
  <div class="content">
    <p class="description">
      O app beeConnect foi desenvolvido pela beeConnect para ajudar
      o cliente a descobrir os melhores produtos <br/>
      e descontos nos seus lugares favoritos
    </p>

    <figure>
      <%= image_tag_with_at2x "about/iphone-android.png", class: "app-screenshot" %>
    </figure>
  </div>
</section>

<blockquote>
  Criando o futuro do mobile shopping
</blockquote>

<section class="about">
  <p>
    A <%= link_to "beeConnect", "" %> é uma empresa do grupo Techmob, cuja história começou <br>
    em 2010 e hoje conta com quatro empresas, entre elas a <%= link_to "RevMob", "" %>, maior <br>
    ad network da América Latina. Em 2015 a beeConnect foi fundada com o <br>
    intuito de externalizar todo conhecimento adquirido através da RevMob <br>
    e das outras empresas do grupo para pensar soluções mobile para o <br>
    mundo corporativo.
  </p>
</section>

