---
title: beeConnect - Sobre o beeConnect
---
<% content_for :header do %>
  <section class="hero">
    <div class="content">
      <h1>Termos e condições de uso do aplicativo BeeConnect</h1>
    </div>
  </section>
<% end %>

<sectio class="terms">
  <div class="content">
    <p>
      Este contrato é celebrado entre a Beeconnect Soluções em Tecnologia
      Mobile Ltda. com sede na Rua Haddock Lobo, 585, conjunto 12, no Município
      de São Paulo, Estado de São Paulo, CEP 01414-001, inscrita no CNPJ/MF
      sob o nº 22.713.870/0001-40, (<strong>“Beeconnect”</strong>) e você (<strong>“Usuário”</strong>).
    </p>

    <p>
      A Beeconnect e o Usuário poderão também ser individualmente
      denominados <strong>Parte</strong>, e em conjunto <strong>Partes</strong>.
    </p>

    <h2>INTRODUÇÃO</h2>

    <p>
      É de fundamental importância que estes Termos e Condições de Uso (<b>“T&C”</b>)
      do Aplicativo Móvel e da Plataforma Fixa iShop (<b>“iShop”</b> ou <b>“Aplicativo”</b>), em
      conjunto com a política de privacidade do Aplicativo (<b>“Política de
      Privacidade”</b>) sejam lidos atentamente e compreendidos pelo Usuário pois o
      acesso e o uso do Aplicativo pelo Usuário, assim como qualquer interação,
      informação ou serviço disponibilizado ao Usuário, bem como sua participação
      no Programa de Pontos (<b>“Programa de Pontos”</b>) e a conversão dos Pontos
      (<b>“Pontos”</b>) obtidos no Programa de Pontos é regida por este T&C e pela
      Política de Privacidade, de tal forma que o uso do Aplicativo, em qualquer
      plataforma e de qualquer maneira, assim como a participação do Usuário no
      Programa de Pontos é condicionada à aceitação deste T&C e da Política de
      Privacidade, sendo estes os instrumentos legais e vinculantes entre o
      Usuário e a Beeconnect. A instalação do Aplicativo pelo Usuário e o seu uso,
      ainda que parcial, constituem a concordância com este T&C, com a Política
      de Privacidade, o regulamento do Programa de Pontos (<b>“Regulamento”</b>) e
      com os demais documentos e licenças decorrentes do uso do Aplicativo (em
      conjunto <b>“Documentos do Aplicativo”</b>).
    </p>

    <p>
      Caso o Usuário não concorde com qualquer disposição dos Documentos
      Aplicativo, o Usuário não deverá instalar o Aplicativo e não deverá usar os
      serviços da Beeconnect. Caso tenha instalado o Aplicativo e não concorde
      com quaisquer disposições dos Documentos do Aplicativo o Usuário deverá
      prontamente cessar o uso do Aplicativo e removê-lo de seu dispositivo.
    </p>

    <h2>O APLICATIVO</h2>

    <p>
      O Aplicativo a ser instalado pelo Usuário em seu dispositivo móvel irá
      periodicamente apresentar informações, ofertas ou mensagens ao Usuário,
      de acordo com a sua interação com qualquer parceiro da Beeconnect. Os
      Parceiros podem ser lojas, restaurantes, centro de compras, agências de
      publicidade ou qualquer outro interessado (<b>“Parceiro</b> ou <b>Parceiros”</b>) em
      divulgar seus produtos, serviços ou promoções (<b>“Ações”</b>) aos Usuários por
      meio do Aplicativo.
    </p>

    <p>
      Toda interação do Usuário com um Parceiro, no contexto das Ações, irá gerar
      uma quantidade de Pontos, sem valor monetário, denominados [•], que
      posteriormente poderão ser trocados pelo Usuário por recompensas
      (<b>“Recompensas”</b>) oferecidas pela Beeconnect ou pelos Parceiros, tal como
      definido no Regulamento.
    </p>

    <h2>LICENÇA DE USO DO APLICATIVO</h2>

    <p>
      Sujeito à aceitação dos Documentos do Aplicativo e ao cumprimento integral
      de suas disposições, o Usuário recebe uma licença limitada, não transferível,
      não exclusiva, livre de royalties e revogável a qualquer tempo, para fazer
      o download, executar e usar o Aplicativo, exclusivamente para seu uso
      pessoal e sem qualquer finalidade comercial.
    </p>

    <p>
      O Usuário reconhece e concorda que não poderá copiar, alterar ou negociar,
      total ou parcialmente, qualquer parte do Aplicativo, dos seus textos, imagens
      ou sons, que são de propriedade exclusiva da Beeconnect ou de terceiros
      parceiros da Beeconnect. Qualquer forma de cópia, transferência, alteração,
      descompilação, engenharia reversa, sub-licenciamento, locação ou
      distribuição, total ou parcial, permanente, temporária ou provisória, de forma
      gratuita ou onerosa, sob quaisquer modalidades, formas ou títulos do
      Aplicativo são expressamente vedadas. O Usuário também reconhece e
      concorda que não poderá usar o Aplicativo de qualquer forma que: (a)
      perturbe, abuse, ameace, calunie, infrinja ou viole os direitos da Beeconnect
      ou de quaisquer terceiros; (b) descumpra a lei ou bons costumes, seja
      fraudulento ou enganoso; (c) transmita informações de propriedade de
      terceiros; (d) tente introduzir ou propagar vírus em qualquer plataforma ou
      computador da Beeconnect ou de terceiros; (e) tente ganhar acesso não
      autorizado à rede de computadores ou a contas de outros Usuários do
      Aplicativo; (f) incentive conduta que constitua crime; ou (g) viole quaisquer
      Documentos do Aplicativo ou quaisquer leis da República Federativa do
      Brasil.
    </p>

    <p>
      O Usuário concorda em obedecer à lei e em respeitar os direitos de
      propriedade intelectual de terceiros ao utilizar o Aplicativo. O Usuário
      concorda em não enviar, exibir, executar nem distribuir qualquer informação
      que não seja sua, em violação a direitos autorais, qualquer segredo
      comercial, informação confidencial ou inapropriada (incluindo fotografias,
      músicas ou vídeos) para a qual não possua licença válida. O Usuário é o
      único responsável e isenta a Beeconnect por quaisquer violações ou danos
      causados por conteúdo que o Usuário forneça ou transmita ou que seja
      fornecido ou transmitido com o uso do Aplicativo.
    </p>

    <h2>CADASTRO E CONTA</h2>

    <p>
      O Usuário que concordar com os Documentos do Aplicativo e desejar utilizar
      o Aplicativo será solicitado a efetuar um cadastro (<b>“Cadastro”</b>) e criar uma
      conta (<b>“Conta”</b>) fornecendo todas informações solicitadas. O Cadastro e a
      criação da Conta são imprescindíveis para o uso do Aplicativo e quaisquer
      outros benefícios, incluindo mas não se limitando a participação no Programa
      de Pontos e/ou o acúmulo de Pontos.
    </p>

    <p>
      O Usuário é o único responsável pela veracidade das informações prestadas
      e deverá mantê-las sempre atualizadas e não poderá jamais utilizar
      informações de terceiros.
    </p>

    <p>
      As informações de Cadastro poderão ser confirmadas pela Beeconnect a
      qualquer momento e, em caso de não confirmação, a utilização do Aplicativo
      pode ser cancelada a exclusivo critério da Beeconnect.
    </p>

    <p>
      As informações de Cadastro são de exclusiva responsabilidade do Usuário.
      No caso de acarretarem danos ou prejuízo de qualquer espécie, sanções
      legais podem ser tomadas pela Beeconnect a fim de resguardar a integridade
      dos demais usuários do Aplicativo ou de quaisquer terceiros, assim como
      ressarcir todo e qualquer prejuízo causado para a Beeconnect ou para
      qualquer terceiro.
    </p>

    <p>
      Ao se cadastrar, o Usuário confirma que tem 13 (treze) anos de idade ou
      mais, ou que se o Usuário for menor de 13 anos, está acompanhado e
      diretamente supervisionado por um pai ou tutor. O uso do Aplicativo é
      terminantemente proibido para menores de 13 anos sem a supervisão direta
      de um pai ou tutor.
    </p>

    <p>
      O Usuário não permitirá ou ajudará, consciente ou inconscientemente,
      crianças menores de 13 anos a acessar ou usar o Aplicativo, exceto sob
      supervisão direta do pai ou tutor. O Usuário é o único responsável, e isenta a
      Beeconnect por conta de qualquer acesso ao Aplicativo realizado por
      menores de 13 anos mediante o uso de seu dispositivo móvel ou da
      plataforma.
    </p>

    <p>
      O uso da Conta e atualização do Cadastro são de responsabilidade exclusiva
      do Usuário. Ao efetuar o Cadastro, o Usuário deverá cadastrar uma senha.
      Essa senha de acesso à Conta é de exclusiva responsabilidade do Usuário,
      que concorda em não divulgá-la a ninguém. A Beeconnect não é
      responsável, em qualquer hipótese, por qualquer prejuízo ou dano causado a
      terceiros ou ao próprio Usuário pelo uso indevido de sua Conta. Caso exista
      qualquer suspeita de uso indevido ou violação de sua Conta, o Usuário
      deverá entrar em contato imediatamente com a Beeconnect.
    </p>

    <p>
      O Usuário poderá a qualquer momento cancelar sua Conta, enviando um e-
      mail para [•], com o [•], ou deletando a conta no próprio Aplicativo na área de
      configurações, sem qualquer ônus para as Partes. As informações do
      Cadastro e da Conta do Usuário poderão, a exclusivo critério da Beeconnect,
      ser mantidas ou apagadas do Aplicativo.
    </p>

    <p>
      Ao criar a Conta, o Usuário concorda em se vincular e cumprir todas as
      obrigações apresentadas nos Documentos do Aplicativo, que poderão ser
      modificados, atualizados ou complementados a qualquer momento, sem
      aviso prévio ao Usuário (<b>“Alterações”</b>). A mera utilização do Aplicativo, ou de
      serviços de informação relacionados ao Aplicativo e disponibilizados em
      qualquer plataforma, realizada após as Alterações importará em
      concordância do Usuário com os todos os Documentos do Aplicativo.
    </p>

    <p>
      Caso o Usuário não concorde com as Alterações, este deverá cancelar sua
      Conta, interrompendo imediatamente o uso do Aplicativo e removendo-o do
      seu dispositivo móvel ou fixo.
    </p>

    <p>
      Periodicamente o Usuário deverá acessar a página eletrônica da Beeconnect
      [•] e rever todos os Documentos do Aplicativo para ciência acerca de
      quaisquer modificações, atualizações e complementações, que podem ser
      implementadas pela Beeconnect a qualquer tempo, independentemente de
      qualquer aviso, notificação ou questionamento ao Usuário.
    </p>

    <p>
      A Beeconnect poderá ainda suspender ou descontinuar permanentemente a
      distribuição ou a atualização do Aplicativo, bem como do Programa de
      Pontos e o Usuário não poderá responsabilizar a Beeconnect pela suspensão
      ou descontinuidade permanente do Aplicativo ou demandar qualquer
      Recompensa ou restituição por eventuais Pontos.
    </p>

    <h2>MENSAGENS AO USUÁRIO</h2>

    <p>
      Para o uso do Aplicativo, o Usuário concorda em receber mensagens da
      Beeconnect, seja no Aplicativo do seu dispositivo móvel, no e-mail utilizado
      no Cadastro, SMS, MMS, ou outros meios de mensagem que possam fazer
      parte do Aplicativo. Em nenhum momento a Beeconnect enviará spams ou
      outro tipo de mensagens que estejam em desacordo com os Documentos do
      Aplicativo. O Usuário reconhece e concorda que o recebimento de tais
      mensagens pode estar sujeito a tarifas de uso de dados ou de recebimento
      de mensagens, que serão cobradas pela operadora de telefonia contratada
      pelo Usuário, sem qualquer relação com a Beeconnect.
    </p>

    <h2>PRIVACIDADE E USO DE INFORMAÇÕES</h2>

    <p>
      O usuário reconhece e confirma que a Beeconnect poderá coletar, armazenar
      e usar as informações de identificação do Cadastro e da Conta do Usuário,
      incluindo mas não se limitando a: nome, endereço, data de nascimento,
      número de telefone, endereço de e-mail, número de CPF, operadora de
      telefonia, sistema operacional, IMEI, endereço MAC, e modelo do dispositivo
      onde o Aplicativo estiver instalado. (vamos coletar também informações do
      Facebook do usuário, como sexo, interesses, etc e o IDFA que é o
      identificador)
    </p>

    <p>
      O Usuário também reconhece, confirma e autoriza a Beeconnect a coletar e
      armazenar informações sobre o seu comportamento no uso do Aplicativo,
      como os Parceiros acessados, as Ações das quais o Usuário participou e os
      produtos visualizados ou comprados, com o intuito de conhecer os interesses
      e vontades do Usuário.
    </p>

    <p>
      Todas as informações coletadas serão armazenadas pela Beeconnect, que
      irá avaliá-las e utilizá-las para a elaboração de relatórios que irão guiar
      futuras ações de marketing dos Parceiros ou outras finalidades e poderão ser
      compartilhadas com os Parceiros com a finalidade de oferecer serviços e
      Ações customizadas e direcionadas ao perfil do Usuário. As informações
      pessoais sigilosas do Cadastro e da Conta do Usuário não serão
      compartilhadas com os Parceiros ou com quaisquer terceiros.
    </p>

    <p>
      Maiores detalhes sobre a coleta, armazenagem, uso e divulgação de
      informações dos Usuários estão descritas na Política de Privacidade.
    </p>

    <h2>ISENÇÃO DE GARANTIAS E LIMITAÇÃO DE RESPONSABILIDADE</h2>

    <p>
      O Usuário reconhece que irá utilizar o Aplicativo por sua livre e espontânea
      vontade. A Beeconnect não é responsável por qualquer dano que o uso do
      aplicativo possa acarretar no dispositivo móvel ou fixo, tampouco pelos
      resultados das Ações ou por quaisquer atos ou fatos praticados pelos
      Parceiros, que não tem qualquer relação com a Beeconnect exceto as
      decorrentes da participação no Aplicativo. Qualquer demanda em relação a
      uma Ação deverá ser contestada pelo Usuário diretamente com o Parceiro
      responsável pela Ação.
    </p>

    <p>
      A Beeconnect se compromete ainda a envidar os melhores esforços para o
      completo e imediato registro dos Pontos na Conta do Usuário. Contudo, pelo
      fato de o Aplicativo estar em constante desenvolvimento e aprimoramento, e
      o registro dos Pontos depender de uma conexão de dados no dispositivo
      móvel, bem como de o bluetooth do dispositivo móvel estar devidamente
      ligado pelo Usuário, alguns Pontos poderão deixar de ser creditados na
      Conta do Usuário, não sendo a Beeconnect responsável por qualquer
      indenização ao Usuário ou ao Parceiro.
    </p>

    <h2>INDENIZAÇÃO</h2>

    <p>
      O Usuário concorda em defender, indenizar e manter indene a Beeconnect,
      suas controladas, seus diretores, funcionários e agentes, de e contra
      quaisquer encargos, ações ou demandas resultantes da utilização indevida
      do Aplicativo, seu conteúdo e serviços, ou da violação ou descumprimento de
      quaisquer dos Documentos dos Aplicativos.
    </p>

    <h2>DISPOSIÇÕES FINAIS</h2>

    <p>
      Este T&C constitui o acordo integral entre o Usuário e a Beeconnect em
      relação ao uso do Aplicativo. Se alguma cláusula ou disposição deste T&C
      for considerada inválida, ilegal ou inexequível em qualquer aspecto, tal
      declaração não afetará a validade, legalidade ou exequibilidade das demais
      disposições deste T&C, que não serão prejudicadas. Outrossim, a cláusula
      considerada inválida, ilegal ou inexequível deverá ser interpretada de
      maneira consistente com a lei aplicável para refletir ao máximo as intenções
      originais das Partes.
    </p>

    <p>
      Fica expressamente convencionado que não constituirá novação a abstenção
      da Beeconnect do exercício de qualquer direito, poder, recurso ou faculdade
      assegurado por este T&C, nem a eventual tolerância de atraso no
      cumprimento de quaisquer obrigações do Usuário, que não impedirão que a
      Beeconnect, a seu exclusivo critério, venha a exercer a qualquer momento
      esses direitos, poderes, recursos ou faculdades, os quais são cumulativos e
      não excludentes em relação aos previstos em lei.
    </p>

    <p>
      Este T&C deverá ser regido e interpretado de acordo com a legislação da
      República Federativa do Brasil, e as Partes elegem o foro da comarca do
      Estado de São Paulo para resolver quaisquer disputas ou controvérsias
      oriundas deste T&C, do uso do Aplicativo ou da participação no Programa de
      Pontos, ou a estes relacionados, com renúncia expressa a qualquer outro,
      por mais privilegiado que seja.
    </p>
  </div>
</section>
