body
  > footer
    background-color: white
    margin-bottom: 60px
    padding-top: 68px

    .logo
      @extend %default-logo

      +media($tablet)
        +span-columns(8 of 8)
        +margin(null null 29px)

        img
          +size(219px 53px)

      +media($mobile)
        +span-columns(2 of 4)

        img
          +size(116px 28px)

    a
      color: $black-30
      @extend %link-size

    ul
      +span-columns(7)
      +display(flex)
      +justify-content(space-between)
      +padding(8px 29px null)

      +media($tablet)
        +span-columns(4 of 8)
        +display(flex)
        +justify-content(space-between)
        +padding(null 0)

      +media($mobile)
        +fill-parent
        +display(flex)
        +justify-content(space-between)

    .social
      +span-columns(3)
      +shift(2)
      +display(flex)
      +justify-content(space-between)
      margin-right: 0
      +padding(null 0)
      text-align: right

      +media($tablet)
        +span-columns(2 of 8)
        +shift(2 of 8)
        +display(flex)
        +justify-content(space-between)
        +margin(null 0 null null)

      +media($mobile)
        position: absolute
        top: -4px
        right: 2%
        +span-columns(2 of 4)
        +display(flex)
        +justify-content(space-between)
        +margin(null 0)

    .app-rules,
    .copyright
      clear: both
      display: block
      text-align: center
      width: 100%

    .copyright
      color: $black-30
      font-size: rem(14)

    .app-rules
      padding-top: 36px
      margin-right: 0

      li
        display: inline
      a
        color: $blue-30
        font-size: rem(14)
        text-decoration: underline

    +media($mobile)
      .content
        position: relative
