body
  > header
    padding-top: 65px

    .logo
      @extend %default-logo

    nav
      +span-columns(9)
      +shift(3)
      +padding(6px null null null)

    ul
      +display(flex)
      +justify-content(space-between)

    a
      color: white
      font-size: rem(18)

    nav a
      display: block
      position: relative
