.number
  background: $black-1
  +display(block)
  +size(141px 122px)

  b
    color: white
    font:
      family: Arial, sans-serif
      size: rem(120)
      weight: normal
    line-height: rem(166)
    +size(100% 100%)
    +padding(null null null 25px)

.slick-slide
  outline: none

.index
  .slider
    +padding(148px null null)
    +margin(null null 124px null)

    +media($tablet)
      +padding(86px null null)

    +media($mobile)
      +margin(null null 42px)

  +media($tablet)
    .number
      +hide-on-mobile

  .slick-slide
    .info
      +span-columns(10)
      +margin(68px null null null)

      +media($tablet)
        +outer-container
        +margin(0 null null)
        +padding(null null 68px)
        float: none
        width: auto

      +media($mobile)
        +padding(null null 27px)
        min-height: 240px

    figure
      +span-columns(5)

      +media($tablet)
        +span-columns(4 of 8)
        float: none
        +margin(0 auto)

        &:last-child
          +margin(null auto null null)

      +media($mobile)
        +span-columns(3 of 4)
        float: none
        +margin(0 auto)

        &:last-child
          +margin(null auto null null)

    img
      +size(100% 100%)

    h3
      color: $purple-50
      font:
        family: $montserrat
        weight: bold
        size: rem(50)
      +margin(-24px null 21px null)
      line-height: rem(54)

      +media($tablet)
        font-size: rem(25)
        line-height: 35px
        +margin(0 null null null)

    h3,
    h4
      +padding(null null null 45px)

      +media($tablet)
        text-align: center
        +padding(0)

      +media($mobile)
        +padding(0)
        font-size: rem(18)
        line-height: rem(22)

    +media($mobile)
      h4
        font-size: rem(13)

    h4
      color: $black-2
      font:
        size: rem(20)
        weight: normal
      line-height: rem(24)

  .slick-next
    +at2x("icons/angle-right", "png", 19%)
    background-repeat: no-repeat
    background-position: 50% 50%
    background-color: $purple-50
    border: none
    cursor: pointer
    +hide-text
    position: absolute
    outline: none
    top: 42px
    right: -34px
    +size(120px 86%)

    +media($tablet)
      background-size: 10% auto
      top: 235px
      right: -23px
      +size(29.5% 60%)

    +media($mobile)
      background-size: 30% auto
      top: 280px
      +size(20.3% 43%)
      right: -6%


  .slick-dots
    +at2x("slider/dots", "png", 351px, auto, true)
    background-repeat: no-repeat
    background-position: center 10px
    top: 460px
    left: 150px
    position: absolute
    text-align: left

    +media($desktop)
      left: 38px

    +media($tablet)
      +span-columns(3 of 8)
      float: none
      +margin(34px auto null)
      background: none
      position: relative
      top: auto
      +fill-parent
      text-align: center
      left: auto

      &:last-child
        margin-right: auto

    li
      display: inline-block
      +size(31px 74px)
      text-align: center
      +margin(null null null 185px)

      +media($tablet)
        +margin(null null null 51px)
        height: auto

      &:first-child
        +margin(null null null 0)

      &#slick-slide00,
      &#slick-slide01,
      &#slick-slide02
        background:
          repeat: no-repeat
          position: center 42px
          size: 100%

      &#slick-slide00
        +at2x("icons/house", "png", 31px)

        &.slick-active
          +at2x("icons/house-selected", "png", 31px)

      &#slick-slide01
        +at2x("icons/boutique", "png", 31px)

        &.slick-active
          +at2x("icons/boutique-selected", "png", 31px)

      &#slick-slide02
        +at2x("icons/bag", "png", 31px)

        &.slick-active
          +at2x("icons/bag-selected", "png", 31px)

      +media($tablet)
        &#slick-slide00,
        &#slick-slide01,
        &#slick-slide02
          background: none

          &.slick-active
            background: none

      &.slick-active
        button
          background-color: $purple-50
          color: white

    button
      background: $black-1
      border: none
      border-radius: 100px
      color: lighten(#717171, 10%)
      cursor: pointer
      outline: none
      +transition(all .2s ease-in-out)
      -webkit-appearance: none

      +media($tablet)
        text-indent: -9999px
        +size(9px 12px)


      &:hover
        background-color: $purple-50
        color: white

.parceiros
  .slider
    +background(linear-gradient(90deg, white 50%, $yellow-50 50%), left)

    height: 830px

    +media($mobile)
      position: relative
      height: 514px
      overflow: hidden

    .slick-slider
      height: 100%

    .content,
    .slider-image,
    .slider-info
      height: 100%

    .slider-info
      +padding(125px null 140px)

    .slider-images
      width: flex-grid(9) + flex-gutter()
      float: left
      overflow: hidden

      +media($tablet)
        width: flex-grid(8) + flex-gutter()

      +media($mobile)
        +fill-parent
        position: absolute
        z-index: 2
        top: 90px

    .slider-info
      +span-columns(7)

      +media($tablet)
        +span-columns(4 of 8)

      +media($mobile)
        +fill-parent
        z-index: 1
        position: relative
        +padding(42px 0)

    .slider-images
      figure
        width: 100%

    .slider-info
      background-color: $yellow-50
      height: 100%
      +padding(null 30px)

      +media($tablet)
        +padding(null 12px)

    .number,
    h3
      float: left

    .number
      background-color: rgba(#FFFFFF, .2)
      +size(112px 107px)

      +media($mobile)
        +size(37px 37px)

      b
        color: $yellow-50
        font-size: rem(100)
        +padding(null null null 40px)

        +media($mobile)
          font-size: rem(40)
          +padding(null null null 12px)
          line-height: rem(50)

    h3
      color: white
      font-size: rem(35)
      line-height: rem(39)
      +margin(42px null null 14px)

      +media($tablet)
        font-size: rem(30)
        line-height: rem(34)
        +margin(null null null 10px)

      +media($mobile)
        +margin(3px null null)

    p
      color: white
      clear: both
      font-size: rem(25)
      line-height: rem(35)
      +padding(56px null null)

      +media($tablet)
        font-size: rem(20)
        line-height: rem(30)

      +media($mobile)
        +padding(14px null null)
        font-size: rem(14)
        line-height: rem(18)
        text-align: center

    .slick-slide img
      +transition(all .2s ease-in-out)
      +size(333px 585px)
      margin: 55px auto 0
      opacity: .2

      +media($tablet)
        +size(290px 522px)

    .slick-center img
      +transition(all .2s ease-in-out)
      +size(433px 760px)
      opacity: 10

      +media($tablet)
        +size(367px 643px)

    .slick-prev,
    .slick-next
      background: transparent
      bottom: 0
      border: none
      color: white
      cursor: pointer
      font-size: rem(22)
      outline: none
      position: absolute

      +media($tablet)
        z-index: 2

      +media($mobile)
        top: 480px

    .slick-next
      right: 0

    .slick-disabled
      opacity: .5

  +media($mobile)
    .slick-dots
      text-align: center
      position: absolute
      z-index: 5
      top: 85px
      width: 100%

      li
        display: inline
        padding: 0 10px

      button
        background-color: $black-1
        border: none
        border-radius: 100px
        color: lighten(#717171, 10%)
        cursor: pointer
        outline: none
        text-indent: -9999px
        padding: 4px 5px
        height: 10px

      .slick-active
        button
          background-color: white
